<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bytemiracle.base">

    <application android:extractNativeLibs="true">
        <activity
            android:name=".framework.preview.PreviewImageActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!--下载文件服务 apk下载-->
        <service android:name=".framework.update.DownloadFileService" />
        <!--升级文件权限-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.bytemiracle.project.updateFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>