<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bytemiracle.base">

    <application>
        <activity
            android:name=".framework.preview.PreviewImageActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!--下载文件服务 apk下载-->
        <service android:name=".framework.update.DownloadFileService" />
    </application>

</manifest>